<%- include('./partials/headerDeslogueado') %>
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/WhatsApp Image 2021-04-12 at 10.34.17.jpeg"  alt="baner de cosmetics">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<% for(let i = 0 ; i<4; i++) {  %> 

			<!-- Show the "ultimos" products -->
			
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto/<%=producto[i].id %> ">
						<figure class="product-box_image">
							<img class= "img-producto" src="<%=producto[i].imagen %> " alt="<%=producto[i].nombre%>">
						</figure>
						<article class="product-box_data">
							<h2><%=producto[i].nombre%></h2>
							<p><%=producto[i].descripcion%></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			   <%  } %> 
		</div> 
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mas coentados</h2>
			</div>
			<% for(let i = 0 ; i<8; i++) {  %> 

			<!-- Show the "ultimos" products -->
			
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto/<%=producto[i].id %> ">
						<figure class="product-box_image">
							<img class= "img-producto" src="<%=producto[i].imagen %> " alt="<%=producto[i].nombre%>">
						</figure>
						<article class="product-box_data">
							<h2><%=producto[i].nombre%></h2>
							<p><%=producto[i].descripcion%></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			   <%  } %> 
		</div> 
	</div>
	<!-- /Más comentados -->

	<!-- /Mejor Puntuados -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mejores puntuados</h2>
			</div>
			<% for(let i = 0 ; i<14; i++) {  %> 

			<!-- Show the "ultimos" products -->
			
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto/<%=producto[i].id %> ">
						<figure class="product-box_image">
							<img class= "img-producto" src="<%=producto[i].imagen %> " alt="<%=producto[i].nombre%>">
						</figure>
						<article class="product-box_data">
							<h2><%=producto[i].nombre%></h2>
							<p><%=producto[i].descripcion%></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			   <%  } %> 
		</div> 
	</div>

	<!-- /Mejor Puntuados -->
	


<%- include('./partials/footer') %> 	