<%- include('./partials/headerLogueado') %>


<% for(let i = 0 ; i<product.length; i++) {  %>


	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/products/<%= product[i].user.profile_photo%>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= product[i].user.name_users %> 
						
		
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a> 
					
				</div>
				<div>
					<ul class="">
							<!-- /AGREGAR DATOS-->
						
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<div class="separadores"><h2>Mis productos</h2> </div>
			</div>
			<!-- Show mis productos -->
			

				<!-- Show the "ultimos" products -->
				
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/producto/<%=product[i].id %> ">
							<figure class="product-box_image">
								<img class= "img-producto" src="/images/products/<%=product[i].url_image %> " alt="<%=product[i].name_ %>">
							</figure>
							<article class="product-box_data">
								<h2><%=product[i].name_ %></h2>
								<p><%=product[i].description%></p>
								
							</article>
						</a>
					</section>
				</div>


				<div class="col-12">
					<div class="separadores"><h2>Mis reseñas</h2> </div>
				</div>
				<!-- Show mis productos -->
				
	
					<!-- Show the "ultimos" products -->
					
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/producto/<%=product[i].id %> ">
								<figure class="product-box_image">
									<img class= "img-producto" src="/images/products/<%=product[i].url_image %> " alt="<%=product[i].name_ %>">
								</figure>
								<article class="product-box_data">
									<h2><%=product[i].name_ %></h2>
									<p><%=product[i].description%></p>
									
								</article>
							</a>
						</section>
					</div>
					
				   <%  } %> 
		</div>
		</div>
	<!-- /Mis productos -->


<%- include('./partials/footer') %> 	