<%- include('./partials/headerLogueado') %>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="contenedor" class="product-detail" >
			
				<img src=" /images/products/<%= resultados.url_image %> " alt="" class="product-detail-img">
				
			
			<div class="formulario">
				<form action="/editProduct/<%=resultados.id%>" method="POST" enctype="multipart/form-data" >
					<label class="form-label" for="">Nombre:</label>
					
					<input class="form-input" name="name_" value="<%=resultados.name_ %>"  type="text" >
	
					<label class="form-label" for="">Descripcion:</label>
					<textarea name="description" value="<%= resultados.description %>"   class="form-input" rows="5" cols="50"><%= resultados.description %></textarea>

					<label for="" class="form-label">Inserta nueva imagen de tu producto</label>
					<input type="file" class="form-input" name="url_image"   >
					
					

					<div class="button">
					<button type="submit" class="boton"> Guardar cambios </button> 
                     
					</div>
					
				</form>
				<!--No anda el borrar-->
				<div class="borrar">
				<form class="borrar" style="display: inline;" action="/borrar/<%=resultados.id %>" method="POST">
					<button class="boton" type="submit">Borrar Producto</button>
				</form>
			</div>
			</div>
			</div>
		</div>	
	</div>	
	
<%- include('./partials/footer') %> 	