<%- include('./partials/headerLogueado') %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.name_ %> </h2> 
			
			<% if(locals.id == producto.user_id)  { %> 
				
			<p class="product-detail-description">
				<a class="edit" href="/editProduct/<%=producto.id %>">Editar</a>
			</p>
			<%  } %> 
		</div>
		<div class="product-detail">
			<div class="row">
			
				<article class="col-12 col-lg-8 product-detail-info">
					<img src=" /images/products/<%= producto.url_image %> " alt="" class="product-detail-img">
					<p class="product-detail-description"><%= producto.description %> </p>
					<h3 class="product-detail-description"> Publicacion de <a href="/perfilUsuarios/<%= producto.user_id %> "> <%= producto.user.username%> </a></h3>
					<h3 class="product-detail-description"> Tipo de producto: <%= producto.genre.name%></h3>
					
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						
						
						<% for (let i=0; i<comments.length; i++){ %>
							
						<article>
							<img class= "img-producto" src="/images/users/<%=comments[i].user.profile_photo %> " alt="<%=comments[i].user.username%>">
							<div class="data">
								
								<strong class="user" > <a href="/perfilUsuarios/<%= comments[i].user.id%> "> <%= comments[i].user.username%> </a> </strong>
								<p>
								<%= comments[i].text_ %>
								</p>
							</div>
						</article>
						<%}%>
					</section>
					<form class="form" action="/producto/<%=producto.id%>" method="POST">
						<input class="form-input" name="comment"type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

<%- include('./partials/footer') %> 	