<%- include('./partials/headerLogueado') %>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="contenedor" class="product-detail" >
			
				<img src=" /images/products/<%= resultados.url_image %> " alt="" class="product-detail-img">
				
			
			<div class="formulario">
				<form action="/producto/edit/<%=resultados.id%>" method="POST">
					<label class="form-label" for="">Nombre:</label>
					
					<input class="form-input" name="nombre" value="<%=resultados.name_ %>"  type="text" >
	
					<label class="form-label" for="">Descripcion:</label>
					<textarea name="description" value="<%= resultados.description %>"   class="form-input" rows="5" cols="50"><%= resultados.description %></textarea>

					<label for="" class="form-label">Inserta nueva imagen de tu producto</label>
					<input type="file" class="form-input" name="img">

					<label class="form-label" for="">Tipo de producto:</label> 
					<input class="form-input" name="web" value="<%=resultados.genre.name%>"  type="text" >
					

					<!-- como imprimimos la fecha de creacion de la publicacion?-->
					<label class="form-label" for=""> Día de publicación:</label>
					<input class="form-input" name="telefono" value="<%=resultados.timestamps%>"  type="number" >
					<!-- como imprimimos la fecha de creacion de la publicacion?-->
					<label class="form-label" for="">Día de actualización:</label>
					<input class="form-input" name="telefono" value="<%=resultados.timestamps%>"  type="number">
					

					<div class="button">
					<button type="submit" class="boton"> Guardar cambios</button> 
                     
					</div>
					
				</form>
				<form style="display: inline;" action="/producto/<%=resultados.id %>" method="POST">
					<button class="boton" type="submit">Borrar</button>
				</form>
        
			</div>
			</div>
		</div>	
	</div>	
	
<%- include('./partials/footer') %> 	