<%- include('./partials/headerLogueado') %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre%> </h2> 
			<p class="product-detail-description">
				<a href="/product/edit/<%=resultados.id%>">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
			
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto.imagen%> " alt="" class="product-detail-img">
					<p class="product-detail-description"><%= producto.descripcion %> </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% let comentarios = producto.comentarios%>
						<% for (let i=0; i<5; i++){ %>

						
						<article>
							<img src="<%=comentarios[i].foto_perfil%>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/miPerfil"><%=comentarios[i].nombre%> </a> </strong>
								<%=comentarios[i].texto%></p>
							</div>
						</article>
						<%}%>
					</section>
					<form class="form" action="/producto/<%=producto.id%>" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

<%- include('./partials/footer') %> 	