<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2> 
				
			</div>
			<% if(locals.errors){ %>
				<p class="alert" > <%= errors.login %><p>
			<% } %>
			<!-- Show the "ultimos" products -->
			<div class="form">
				<form action="/agregarProducto" method="POST" enctype="multipart/form-data">
					
					<label for="" class="form-label">Nombre del producto</label>
					<input type="text" class="form-input" placeholder="Insertar nombre" name="name">

					<label for="" class="form-label">Agrega una descripción del producto</label>
					<p><textarea name="description"  class="form-input" rows="5" cols="50"> </textarea></p>
					
					<label class="form-label">Inserta imagen de tu producto</label>
					<input type="file" class="form-input" name="url_image">
					
					<div class="mb-3" class="form-label">
						<label class="form-label"> Genero</label>
						<select class="form-control" name="genre_id" id="">
							<% for (let i=0; i<genres.length; i++){ %>
								<option value="<%= genres[i].id%>">
									<%= genres[i].name%>
								</option>
								<%}%> 
						</select>
					</div>

					<div class="button">
					<button type="submit" class="boton"> Publicar Producto</button>
					</div>
				</form>
				
				
			</div>


			<img class= "gift" src="images/agregarproducto.jpeg" alt="giftcard">
		</div>
	</div>

<%- include('./partials/footer') %> 	